# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Uploaded files
uploaded_files/

# Converted images
converted_images/

# OCR models
easyocr_models/

#Model cache
Model_cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db